<launch>
   <node pkg="x264_image_transport" type="x264_test_publisher" name="x264_test_publisher" respawn="false" output="screen">
    <param name="refresh_rate" value="5"/>
    <param name="topic_name" value="/image"/>
    <param name="image1" value="$(find x264_image_transport)/img/bulb_on.jpg"/>
    <param name="image2" value="$(find x264_image_transport)/img/bulb_off.jpg"/>
   </node>
   <node pkg="rqt_image_view" type="rqt_image_view" name="viewer" args="image:=/image/x264"/>
</launch>
